<h1>TUS DATOS</h1>

<h4>Nombre: {{user.name}} {{user.lastName}}</h4>
<h4>Email: {{user.email}}</h4>
<h4>Edad: {{user.age}}</h4>
<h4>Año de Registro: {{user.registrationDate}}</h4>
<h4>Tipo de usuario: {{user.role}}</h4>

<a href="/api/sessions/logout"><button id="logoutButton">Logout</button></a>